$background-color: #fff1d0;
$secondary-background-color: #feb775;
$text-color: #074798;
$third-color: #6a5e44;
$data-color: #ae371f;

@mixin desktop-margin {
  margin: auto 5vw;
}

@mixin desktop-padding {
  padding: 50px 0;
}
