@use '../../_shared.scss';

#map {
  width: 60%;
  margin: 36px auto;
  padding: 10px;
  background: shared.$secondary-background-color;
}
.leaflet-container {
  width: 100%;
  margin: auto;
  height: 50vh;
}
